@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');


.formContact {
  font-family: 'Rubik', sans-serif;
  margin-top: 4rem;
}

.formContact.sent {
  display: none;
}
.containerForm {
  display: flex;
  height: 100vh;
  padding: 2rem;
}

.left {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
  width: 50% !important;
}

.right {
  flex: 1;
  background-color: black;
  transition: 1s;
  background-image: url('../assets/foto-notebook.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 1rem;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
}



.headerForm > h2 {
  margin: 0;
  color: #02DF71;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  display: flex;
  align-items: start;
}

.headerForm > h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 1rem;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
}

.form {
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.form > p {
  text-align: right;
}

.form > p > a {
  color: #ffffff;
  font-size: 14px;
}

.form-field {
  height: 46px;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  outline: 0;
  transition: .2s;
  margin-top: 20px;
}

.form-field:focus {
  border-color: #0f7ef1;
}


.form > button {
  padding: 12px 10px;
  border: 0;
  background-image: linear-gradient(to right, #02DF71, #02DF71); 
  box-shadow: 0 5px 20px #02DF71;
  transition: box-shadow .3s ease-in-out;
  border-radius: 3px;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}
.form > button:hover {
  box-shadow: none;
  color: black
}

.animation {
  animation-name: move2;
  animation-duration: .4s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.a1 {
  animation-delay: 2s;
}

.a2 {
  animation-delay: 2.1s;
}

.a3 {
  animation-delay: 2.2s;
}

.a4 {
  animation-delay: 2.3s;
}

.a5 {
  animation-delay: 2.4s;
}

.a6 {
  animation-delay: 2.5s;
}

@keyframes move2 {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }
}